* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.title-text {
  padding: 30px 0;
  text-align: center;
  color: #666666;
}

.images-container {
  width: 1200px;
  padding: 30px 0;
  margin: 0 auto;
  column-count: 4;
  column-gap: 30px;
  -moz-column-count: 4;
  -moz-column-gap: 30px;
  -webkit-column-count: 4;
  -webkit-column-gap: 30px;
}

.images-item {
  width: 100%;
  margin-bottom: 30px;
}

.images-card {
  width: 100%;
}

.images-card__image {
  width: 100%;
  vertical-align: middle;
}
.copyright-container__link {
  display: flex;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  color: #666666;
  text-decoration: none;
}
.copyright-container__icon{
  width: 20px;
  margin-left: 10px;
}
